@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.colorTab{
  background: #181D2B;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
::-webkit-scrollbar{
  display: hidden;
  background: rgb(15, 15, 15);
}

::-webkit-scrollbar-thumb {
  display: hidden;
  background: #2c2c2c;
}

.moreSize{
  height: 103%;
  width: 104%;
}